openapi: 3.0.0
info:
  title: Public API
  version: '1.0'
  description: API cho client tool tương tác
  contact:
    name: Tiến Hoàng
    email: tienhoangvan@vccorp.vn
servers:
  - url: 'http://public.vbs.vccloud.vn/v1'
paths:
  /agent/backup-directories:
    get:
      summary: Lấy danh sách BackupDirectory
      tags:
        - BackupDirectory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/BackupDirectory.v1.yaml
      operationId: get-backupDirectory
      description: 'Trả về danh sách các thư mục cần backup '
    parameters: []
  '/agent/backup-directories/{backupDirectoryId}':
    get:
      summary: Lấy thông tin BackupDirectory
      tags:
        - BackupDirectory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/BackupDirectory.v1.yaml
        '404':
          description: Not Found
      operationId: get-backupDirectories
      description: Thông tin chi tiết BackupDirectory theo id
    parameters:
      - schema:
          type: string
        name: backupDirectoryId
        in: path
        required: true
  '/agent/backup-directories/{backupDirectoryId}/policies':
    parameters:
      - schema:
          type: string
        name: backupDirectoryId
        in: path
        required: true
    get:
      summary: Lấy thông tin Backup Policy
      tags:
        - Backup Policy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/Policy.v1.yaml
        '404':
          description: Not Found
      operationId: get-backupDirectories-id-policy
  '/agent/backup-directories/{backupDirectoryId}/recovery-points':
    parameters:
      - schema:
          type: string
        name: backupDirectoryId
        in: path
        required: true
    get:
      summary: Lấy danh sách Recovery Point trong directory
      tags:
        - Recovery Point
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/RecoveryPoint.v1.yaml
        '404':
          description: Not Found
      operationId: get-backupDirectories-id-recoveryPoints
      description: ''
    post:
      summary: Tạo mới một recovery-point trước khi thực hiện backup
      operationId: post-backupDirectories-backupDirectoryId-recoveryPoints
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ../models/state_action.v1.yaml
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      parameters:
        - schema:
            type: string
            enum:
              - INITIAL_REPLICA
              - RECOVERY_POINT
            example: RECOVERY_POINT
          in: query
          name: recovery-point-type
          required: true
      tags:
        - Recovery Point
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
        description: |
          Require policy_id

          Option: name

          ```
          {
            "name": "2020-15-07",
            "policy_id": "6dd19ea8-a690-4fa0-8935-2b04f3c663ef"
          }
          ```
  '/agent/recovery-points/{recoveryPointId}':
    parameters:
      - schema:
          type: string
        name: recoveryPointId
        in: path
        required: true
    get:
      summary: Lấy thông tin Recovery Point
      tags:
        - Recovery Point
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/RecoveryPoint.v1.yaml
              examples: {}
        '404':
          description: Not Found
      operationId: get-recovery-points
      description: Lấy Recovery Point theo id
      parameters: []
  '/agent/recovery-points/{recovery-point-id}/file':
    post:
      summary: Upload file
      tags:
        - File
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ../models/File.v1.yaml
        '403':
          description: Forbidden nếu Recovery Point Session Id không tồn tại hoặc không hợp lệ
      operationId: post-files
      description: Upload file qua multipart/form-data
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
              required:
                - data
            examples: {}
        description: Dữ liệu file gửi qua multipart/form-data
    get:
      summary: Đọc thông tin file
      tags:
        - File
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/File.v1.yaml
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Link download file
              required: true
        '403':
          description: Forbidden nếu Recovery Point Session Id không tồn tại hoặc không hợp lệ
        '404':
          description: Not Found nếu file name không tồn tại
      operationId: get-files
      description: 'Đọc thông tin file, không phải để download file (hãy dùng Endpoint /files/download). Link download file đặt trong header'
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: File name. Đường dẫn tương đối tính từ thư mục dữ liệu cần backup
    parameters:
      - schema:
          type: string
        name: recovery-point-id
        in: path
        required: true
  '/agent/recovery-points/{recoveryPointId}/list-files':
    parameters:
      - schema:
          type: string
        name: recoveryPointId
        in: path
        required: true
    get:
      summary: Liệt kê danh sách File đã được backup trong Recovery Point
      tags:
        - File
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/File.v1.yaml
        '404':
          description: Not Found
      operationId: get-backup-directories-backupDirectoryId-recovery-points-recoveryPointId-files
      description: Liệt kê danh sách File đã được backup trong Recovery Point
  '/agent/recovery-points/{recovery-point-id}/file/download':
    get:
      summary: Download Files
      tags:
        - File
      responses:
        '200':
          description: OK
        '403':
          description: Forbidden nếu Recovery Point Session Id không tồn tại hoặc không hợp lệ
        '404':
          description: Not Found nếu file name không tồn tại
      operationId: get-files-download
      description: |-
        Download file

        Khi restore, download cả recovery point dùng name={recovery-point-id}.zip
      parameters:
        - schema:
            type: string
            format: ''
          in: query
          name: name
          description: File name. Đường dẫn tương đối tính từ thư mục dữ liệu cần backup. Hiện tại chỉ support download cả file zip của thư mục. Tên file recovery-point-id.zip
          required: true
        - schema:
            type: string
          in: header
          name: X-Restore-Session-Key
          required: true
        - schema:
            type: string
          in: header
          name: X-Session-Created-At
          required: true
    parameters:
      - schema:
          type: string
        name: recovery-point-id
        in: path
        required: true
  /agent/register:
    patch:
      summary: Update thông tin machine khi start
      operationId: patch-agent-register
      responses:
        '200':
          description: OK
      description: Agent update các thông tin của machine
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/MachineRequest.v1.yaml
        description: ''
      tags:
        - Machines
  /agent/config:
    get:
      summary: Get config cho machine
      tags:
        - Machines
      responses:
        '200':
          description: OK
          content:
            application/yaml:
              schema:
                type: string
                description: ''
              examples: {}
          headers: {}
      operationId: get-agent-config
      description: |-
        Khi agent start hoặc reconnect sẽ lấy lại thông tin cấu hình về thư mục backup, policies cho các thư mục đó

        return yaml format

        ```
        backup-directories:
        - activated: true
          id: 6dd19ea8-a690-4fa0-8935-2b04f3c663ef
          name: backup images
          path: home/ducpx/images
          policies:
          - id: a48cfe94-a4f6-4689-9a6d-e94654cda08a
            name: null
            schedule_pattern: '***'
        - activated: false
          id: dbf88cc0-947d-493f-8cb4-44dfefaa0628
          name: backup video
          path: home/ducpx/video
          policies:
          - id: c9312fff-457b-4e4b-8703-139c270a53ce
            name: backup daily
            schedule_pattern: '***'
        ```
  '/agent/backup-directories/{backupDirectoryId}/action':
    parameters:
      - schema:
          type: string
        name: backupDirectoryId
        in: path
        required: true
    post:
      summary: Action backup manual
      operationId: post-agent-backup-directories-backupDirectoryId-action
      responses:
        '200':
          description: OK
      description: "Request body gồm có action: backup_manual và storage_type\n\nstorage_type: S3 hoặc TAPE\n\n```\n{\n\t\"action\": \"backup_manual\",\n\t\"storage_type\": \"S3\",\n}\n```"
      tags:
        - BackupDirectory
  '/agent/backup-directories/{backupDirectoryId}/recovery-points/{recoveryPointId}/action':
    parameters:
      - schema:
          type: string
        name: backupDirectoryId
        in: path
        required: true
      - schema:
          type: string
        name: recoveryPointId
        in: path
        required: true
    post:
      summary: 'Action in recovery point: restore'
      operationId: post-agent-backup-directories-backupDirectoryId-recovery-points-recoveryPointId-action
      responses:
        '200':
          description: OK
      description: |-
        machine_id là máy đích mà muốn restore vào và path là đường dẫn của thư mục muốn restore

        ```
        {
            "machine_id": <id>,
            "path": "/path/to/directory"
        }
        ```
      tags:
        - Recovery Point
  /agent/recovery-points:
    get:
      summary: Lấy danh sách Recovery Point trong machine
      tags:
        - Recovery Point
      responses:
        '200':
          description: OK
      operationId: get-agent-recovery-points
  '/agent/recovery-points/{recovery_point_id}/file/multipart/init':
    parameters:
      - schema:
          type: string
        name: recovery_point_id
        in: path
        required: true
    post:
      summary: Khởi tạo multipart session
      operationId: post-agent-recovery-points-recovery_point_id-file-multipart-init
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ../models/Multipart.v1.yaml
      tags:
        - File
      description: |-
        Khởi tạo multipart session để bắt đầu upload các part.
        Hoặc Kết thúc multipart để nối các part thành file hoàn chỉnh (gửi kèm param uploadId).
  '/agent/recovery-points/{recovery_point_id}/file/multipart/put':
    parameters:
      - schema:
          type: string
        name: recovery_point_id
        in: path
        required: true
    get:
      summary: Đọc thông tin multipart session
      tags:
        - File
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/Part.v1.yaml
      operationId: get-agent-recovery-points-recovery_point_id-file-multipart-put
      description: Lấy thông tin Multipart session và các Part đã upload
      parameters:
        - schema:
            type: string
          in: query
          name: upload_id
          required: true
          description: Multipart upload id
    put:
      summary: Upload part
      operationId: put-agent-recovery-points-recovery_point_id-file-multipart-put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/Part.v1.yaml
      parameters:
        - schema:
            type: string
          in: query
          name: upload_id
          required: true
          description: Multipart upload id
        - schema:
            type: string
          in: query
          name: part_number
          required: true
          description: Thứ tự part sẽ được dùng khi nối các part thành file hoàn chỉnh
      description: Upload part
      tags:
        - File
  '/agent/recovery-points/{recovery_point_id}/file/multipart/complete':
    parameters:
      - schema:
          type: string
        name: recovery_point_id
        in: path
        required: true
    post:
      summary: Complete session upload multipart
      operationId: post-agent-recovery-points-recovery_point_id-file-multipart-complete
      responses:
        '200':
          description: OK
      description: Hoặc Kết thúc multipart để nối các part thành file hoàn chỉnh
      parameters:
        - schema:
            type: string
          in: query
          name: upload_id
          required: true
          description: Multipart upload id
components:
  schemas: {}
  securitySchemes:
    API Key:
      name: Authorization
      type: apiKey
      in: header
      description: "Request phía client gửi thông tin xác thực trong Header Authorization có định dạng: \n\nAuthorization: VBS AccessKey:Signature"
    Date:
      name: Date
      type: apiKey
      in: header
      description: Truyền thời gian hiện tại qua tất cả các Request để tính Signature
security:
  - API Key: []
  - Date: []
